@import "variables";

.about-card {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  > img {
    width: 200px;
    align-self: center;
    margin-bottom: 15px;
  }
  a {
    line-height: 2em;
    font-size: 14px;
    border: none;
    margin: 3px 0;
    cursor: pointer;
    color: #888;
    font-style: normal;
  }
}

.about-page-title {
  margin-top: 3em;
  font-size: 30px;
  line-height: 2em;
  color: #444;
}


.about-section-title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em;
  margin-bottom: 40px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: 3.5px;
}

.evenly {
  > div {
    width: 100%;
  }
}

.about-title {
  font-size: 16px;
  font-weight: 500;
}

.about-story {
  flex-direction: column;
  padding: 20px;
  display: flex;
  align-items: center;
  img {
    object-fit: cover;
    width: 100%;
    margin-bottom: 20px;
  }
}
@keyframes backgroundSlideIn {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 100%;
  }
}
.about-highlight {
  background-image: linear-gradient($link-bg-color, $link-bg-color);
  background-size: 0%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  cursor: pointer;
  transition: .8s;
}
#designer {
  animation: .5s .3s backgroundSlideIn forwards;
  &:hover {
    #designer-content {
      color: #000;
    }
  }
}
#engineer {
  animation: .5s .6s backgroundSlideIn forwards;
}

.about-content {
  a {
    color: #222;
    text-decoration: none;
    border-bottom: 1px dashed $link-color;
    height: 2em;
  }
  p {
    color: #222;
    opacity: .5;
  }
}
.qian {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid $link-color;
  height: 2em;
  .chi-an {
    line-height: 2em;
    font-size: 16px;
    background-color: #000000aa;
    padding: 3px 10px;
    border-radius: 20px;
    color: white;
    position: absolute;
    margin-top: -32px;
    margin-left: -60px;
    display: none;
  }
  &:hover {
    .chi-an {
      display: inline;
    }
  }
}

@media (max-width: 1023px) {
  .about-card {
    flex-direction: row;
    margin: 0;
    justify-content: center;
    .about-items {
      margin-left: 50px;
      margin-bottom: 30px;
      align-self: center;
    }
    > a {
      width: 250px;
    }
  }
  .evenly > div {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .about-card {
    flex-direction: column;
    .about-items {
      margin: 0 0 50px;
    }
  }
}