@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounce {
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
.about-card {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.about-card > img {
  width: 200px;
  align-self: center;
  margin-bottom: 15px;
}
.about-card a {
  line-height: 2em;
  font-size: 14px;
  border: none;
  margin: 3px 0;
  cursor: pointer;
  color: #888;
  font-style: normal;
}

.about-page-title {
  margin-top: 3em;
  font-size: 30px;
  line-height: 2em;
  color: #444;
}

.about-section-title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3em;
  margin-bottom: 40px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: 3.5px;
}

.evenly > div {
  width: 100%;
}

.about-title {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.about-story {
  flex-direction: column;
  padding: 20px;
  display: flex;
  align-items: center;
}
.about-story img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 20px;
}

@keyframes backgroundSlideIn {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 100%;
  }
}
.about-highlight {
  background-image: linear-gradient(#CADDFF, #CADDFF);
  background-size: 0%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  cursor: pointer;
  transition: 0.8s;
}

#designer {
  animation: 0.5s 0.3s backgroundSlideIn forwards;
}
#designer:hover #designer-content {
  color: #000;
}

#engineer {
  animation: 0.5s 0.6s backgroundSlideIn forwards;
}

.about-content a {
  color: #222;
  text-decoration: none;
  border-bottom: 1px dashed #789CFB;
  height: 2em;
}
.about-content p {
  color: #222;
  opacity: 0.7;
}

.process-ai {
  color: white;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 30px 0 80px;
}
.process-ai#process-ai-1 {
  background-image: url("../images/process/ai-bg1.jpg");
}
.process-ai#process-ai-2 {
  background-image: url("../images/process/ai-bg2.jpg");
}
.process-ai .title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  align-self: center;
  font-weight: 600;
  margin: 30px 0;
}
.process-ai p {
  color: #ddd;
}

.section.ending {
  font-size: 20px;
  margin-bottom: 100px;
  font-weight: 600;
}

.title-deco {
  width: 10px;
  background-color: #FD6161;
  height: 1em;
  align-self: center;
  margin-right: 5px;
}

.process-banner {
  position: absolute;
  right: 15vw;
  top: 200px;
  width: 40vw;
  z-index: -1;
}

.tooltip-toggle {
  font-style: italic;
  color: #aaa;
}
.tooltip-toggle:hover .tooltip {
  visibility: visible;
}
.tooltip-toggle .tooltip {
  font-style: normal;
  width: 250px;
  margin-left: -200px;
}

.process-banner-text {
  width: 600px;
  max-width: 100%;
  margin-top: 40px;
  font-weight: 400;
}

.process-page-title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  margin-top: 150px;
}

.process-small-title {
  font-weight: 600;
}
.process-small-title.left {
  width: 150px;
  flex-shrink: 0;
  margin-top: 16px;
}
.process-small-title.left span {
  font-size: 20px;
}

.process-section-title {
  font-size: 24px;
  color: #FD6161;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-top: 50px;
}

.qian {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid #789CFB;
  height: 2em;
}
.qian .chi-an {
  line-height: 2em;
  font-size: 16px;
  background-color: #000000aa;
  padding: 3px 10px;
  border-radius: 20px;
  color: white;
  position: absolute;
  margin-top: -32px;
  margin-left: -60px;
  display: none;
}
.qian:hover .chi-an {
  display: inline;
}

@media (max-width: 800px) {
  .about-card {
    flex-direction: row;
    margin: 0;
    justify-content: center;
  }
  .about-card .about-items {
    margin-left: 50px;
    margin-bottom: 30px;
    align-self: center;
  }
  .about-card > a {
    width: 250px;
  }

  .evenly > div {
    width: 100% !important;
    padding: 20px 0;
  }
}
@media (max-width: 500px) {
  .about-page-title {
    font-size: 22px;
  }

  .about-card {
    flex-direction: column;
  }
  .about-card .about-items {
    margin: 0 0 50px;
  }
}

/*# sourceMappingURL=about.css.map */
