//contacts
.contacts {
  //right align vertical list
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  a {
    margin-bottom: 10px;
    opacity: 0.5;
    height: 33px;
    //todo
    div {
      padding: 6px 14px;
      font-size: 14px;
      color: #000000;
      font-weight: 700;
    }
    img {
      width: 33px;
      height: 33px;
      align-self: center;
    }
    &:hover {
      opacity: 1;
      background-color: white;
      border-radius: 30px;
    }
  }
  //position
  position: absolute;
  top: 100px;
  right: 50px;
  #email-text {
    :hover {
      opacity: 0;
    }
  }
}

// bubbles
#hello {
  position: absolute;
  top: 120px;
  left: 30vw;
  font-weight: 400;
  #about-main-Qian {
    font-family: "Prompt", sans-serif;
    font-size: 24px;
    font-weight: 500;
  }
  #about-main-chan {
    font-size: 14px;
    opacity: 0.5;
  }
}
#designer {
  position: absolute;
  top: 220px;
  left: 65vw;
  max-width: 30vw;
}
#background {
  position: absolute;
  top: 440px;
  left: 70vw;
  max-width: 25vw;
  font-size: 14px;
}
#motivation {
  position: absolute;
  top: 350px;
  right: 70vw;
  max-width: 33vw;
  .show-on-hover {
    margin-right: -8vw;
  }
}
#outside-of-work {
  position: absolute;
  top: 75vh;
  margin-top: -60px;
  left: 26vw;
  max-width: 70vw;
}
.hover {
  display: flex;
  flex-direction: column;
  &:hover {
    cursor: pointer;
    .show-on-hover {
      height: fit-content;
      width: fit-content;
      opacity: 1;
    }
  }
}
.show-on-hover {
  padding: 10px 0;
  font-size: 15px;
  opacity: 0;
  cursor: auto;
  height: 0;
  width: 0;
  overflow: hidden;
  p {
    margin: 10px 0;
  }
}
.bubble {
  font-size: 16px;
  box-shadow: 0 0 20px #00000010;
  border-radius: 30px;
  background-color: white;
  padding: 14px 24px;
  width: fit-content;
  line-height: 1.2;
  &.upper-left {
    border-bottom-right-radius: 0;
    align-self: flex-end;
  }
  &.upper-right {
    border-bottom-left-radius: 0;
  }
  &.bottom-left {
    border-top-right-radius: 0;
  }
  &.bottom-right {
    border-top-left-radius: 0;
  }
}

// background
body {
  background-color: #f8f8f8;
}
.footer {
  position: absolute;
  bottom: 0;
}
.my-image {
  height: 60vh;
  width: 60vh;
  margin-top: 15vh;
  background-color: #F0F4F4;
  border-radius: 50vh;
  object-fit: contain;
}

@media (max-width: 800px) {

}

@media (max-width: 500px) {

}