html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Prompt", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  color: #888;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  visibility: hidden;
  height: 26px;
  background-color: #00000066;
  color: #fff;
  text-align: center;
  top: 40px;
  padding: 5px 10px;
  border-radius: 13px;
  position: absolute;
  z-index: 1;
  font-weight: 200;
  font-size: 12px;
}

.navbar {
  height: 50px;
  padding: 0 50px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-weight: 400;
  display: flex;
  z-index: 100;
}
.navbar a {
  text-decoration: none;
  font-style: normal;
}
.navbar.active {
  background-color: #ffffffee;
  box-shadow: 0px 0px 5px #00000022;
}
.navbar.active .pg-btn {
  color: grey;
}
.navbar.active #inpageNav {
  display: flex;
}
.navbar .roundedNav {
  height: 25px;
  border-radius: 30px;
  background-color: #ffffff00;
  align-self: center;
  z-index: -2;
}
.navbar .roundedNav .hide {
  display: none;
}
.navbar #inpageNav {
  display: none;
  margin-left: 45px;
  align-items: center;
  font-size: 12px;
}
.navbar #inpageNav #highlighter {
  width: 0px;
  background-color: #FD6161;
  position: absolute;
  z-index: -1;
  transition: left 0.2s, width 0.2s;
}
.navbar #inpageNav a {
  color: white;
  display: flex;
}
.navbar #inpageNav a:hover .tooltip {
  visibility: visible;
}
.navbar #inpageNav a:hover .icon {
  background-color: #FD6161;
}
.navbar #inpageNav a .icon {
  margin-left: 20px;
  width: 25px;
  height: 25px;
  background-color: #bbb;
}
.navbar #inpageNav a .nav-section {
  width: 100px;
  display: none;
  padding-top: 3px;
  text-align: center;
}
.navbar #inpageNav a.active .icon {
  background-color: white;
}
.navbar #inpageNav a.active .nav-section {
  display: inline;
}
.navbar .navList {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.navbar .navList.dark a {
  color: #444;
}
.navbar .navList a {
  color: white;
  opacity: 0.5;
  align-self: center;
  padding: 0 10px;
  transition: opacity 0.3s, color 0.3s;
}
.navbar .navList a:hover {
  opacity: 1;
}
.navbar .navList a.active {
  opacity: 1;
}
.navbar .dark a {
  color: grey;
}

.banner {
  width: 100%;
}
.banner img {
  width: 100%;
}

.footer {
  height: 50px;
  background-color: #444;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-top: 100px;
  width: 100%;
}

.flex-v {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.flex-v.center {
  align-items: center;
}

.flex-h {
  display: flex;
}

.card {
  box-shadow: 2px 2px 10px #00000011;
}

.color-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
.color-bg.card {
  z-index: 2;
}
.color-bg.trd {
  background-color: #EDF1F4;
}
.color-bg.sec {
  background-color: #F0F4FB;
}
.color-bg.padding {
  padding-top: 100px;
  margin-bottom: 100px;
}
.color-bg.overflow {
  margin: -200px 0;
  padding: 300px 0;
  z-index: 0;
}
.color-bg.overflow-bottom {
  margin-bottom: -200px;
  padding-bottom: 300px;
  padding-top: 100px;
  z-index: 0;
}
.color-bg.color-summary {
  background: linear-gradient(#FD6161, #FF956C);
}

.highlight {
  color: #FD6161 !important;
}
.highlight.sec {
  color: #789CFB !important;
}

.section {
  max-width: 1400px;
  margin: 0 13vw;
  padding: 20px 5vw;
  line-height: 2rem;
}

.section-item {
  padding-top: 80px;
  padding-bottom: 80px;
}

.banner div {
  position: absolute;
  left: 5vw;
  top: 12vw;
  font-size: 35pt;
}
.banner div p {
  line-height: 40%;
}
.banner #banner-text1 {
  color: #FD6161;
}

.btn {
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #F5F7F8;
}

#filter {
  margin: 100px 10vw 0px;
}
#filter .btn {
  cursor: pointer;
  font-family: "Prompt", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  padding: 6px 16px;
  font-size: 12px;
  margin: 0 4px;
}
#filter .btn:hover {
  background-color: #ffeeee;
}
#filter .active {
  background-color: #FD6161;
  color: white;
  pointer-events: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 5vw;
}
.container .filterDiv {
  width: 38%;
  display: none;
  /* Hidden by default */
  padding: 3vw 2vw;
  margin: 5vw 4vw;
  transition: box-shadow 0.3s;
  text-decoration: none;
  color: gray;
}
.container .filterDiv:hover {
  box-shadow: 2px 2px 10px #00000033;
}
.container .filterDiv img {
  width: 100%;
}
.container .filterDiv .title {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}
.container .filterDiv .title .t1 {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 400;
}
.container .filterDiv .title .btn {
  padding: 3px 12px;
  font-size: 12px;
  margin: 0 4px;
}
.container .filterDiv .description {
  font-size: 14px;
}
.container .show {
  display: block;
}

#nav_anchor {
  position: absolute;
  top: 15vw;
}

/*# sourceMappingURL=index.css.map */
