// for homepage
@import "shared";
@import "variables";

$scroll_dist : 30vw;

.content {
  position: absolute;
  margin-top: $scroll_dist;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.static {
    position: fixed;
    margin-top: 0;
  }
}

.banner {
  .slogan {
    position: absolute;
    padding-left: 5vw;
    margin-top: -200px;
    font-size: 44px;
    color: white;
  }
}

.btn {
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #F5F7F8;
}

#filter {
  transition: opacity .3s;
  margin: 100px 10vw 0px;
  .btn{
    cursor: pointer;
    font-family: "Prompt", "Helvetica", "Arial", sans-serif;
    font-weight: 200;
    padding: 6px 16px;
    font-size: 14px;
    margin: 0 4px;
    &:hover {
      background-color: lighten($primary-color, 28%);
    }
  }
  .active {
    background-color: $primary-color;
    color: white;
    pointer-events: none;
  }
}

.hidden {
  opacity: 0;
}

.container {
  transition: opacity .3s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 5vw;
  .filterDiv {
    width: 38%;
    display: none; /* Hidden by default */
    padding: 3vw 2vw;
    margin: 5vw 4vw;
    transition: box-shadow .3s;
    text-decoration: none;
    color: gray;
    &:hover {
      box-shadow: 2px 2px 10px #00000033;
    }
    img {
      width: 100%;
    }
    .title {
      display: flex;
      flex-direction: row;
      margin: 15px 0;
      .t1 {
        flex-grow: 1;
        font-size: 18px;
        font-weight: 400;
      }
      .btn {
        padding: 3px 14px;
        font-size: 14px;
        margin: 0 4px;
        height: fit-content;
      }
    }
    .description {
      font-size: 16px;
    }
  }
  .show {
    display: block;
  }
}

#nav_anchor {
  position: absolute;
  margin-top: 15vw;
}

#landing {
  width: 100%;
  position: fixed;
  z-index: 100;
  &.hidden {
    display: none;
  }
  .bg {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    img {
      width: 100%;
      object-fit: cover;
      object-position: 0 0;
    }
    .white-space {
      flex-grow: 1;
      background-color: white;
    }
  }
}

#landing_space1 {
  height: $scroll_dist;
  width: 100%;
}

#landing_anchor {
  height: 50px;
}

#landing_space2 {
  height: 2000px;
  width: 100%;
  //border: solid red 1px;
}

#zoom_anchor {
  margin-left: 52vw;
  margin-top: 23vw;
  position: absolute;
  left: 0;
  top: 0;
}

.coming-soon-label {
  position: absolute;
  margin-top: -50px;
  padding: 5px 10px;
  background-color: #ffffffdd;
  color: #666;
  font-size: 14px;
  border-radius: 30px;
  width: fit-content;
  margin-left: 10vw;
}

.btt {
  color: $primary-color;
  text-decoration: none;
}

.scroll_down::before{
  content: '╲╱';
  color: #444;
  position: absolute;
  opacity: 1;
  width: 6rem;
  font-size: 20px;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  bottom: 2rem;
  margin-left: -3rem;
  left: 50%;
  animation: bounce 1s ease infinite;
  transition: opacity .3s;
  z-index: 100;
  &.hidden {
    opacity: 0;
  }
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
