@charset "UTF-8";
html {
  scroll-behavior: auto;
}

.hp-section-title {
  width: 100%;
  margin-top: 50px;
  padding-left: 40px;
  font-size: 20px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  width: 75%;
  max-width: 950px;
  flex-wrap: wrap;
  align-self: center;
}

.project-new {
  border-radius: 50px;
  overflow: hidden;
  color: black;
  background-color: #eeeeee;
  position: relative;
}
.project-new.dark-image {
  color: white;
  background-color: black;
}
.project-new .image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.project-new .grey-gc {
  background-image: linear-gradient(to right, #eee, #eee, #eee8, #eee0);
}
.project-new .black-gc {
  background-image: linear-gradient(to right, #000, #000, #0008, #0000);
}
.project-new .chill-white-gc {
  background-image: linear-gradient(to right, #f3f4f5, #f3f4f5, #f3f4f580, #f3f4f500);
}
.project-new .warm-white-gc {
  background-image: linear-gradient(to right, #F1EDE6, #F1EDE6, #F1EDE680, #F1EDE600);
}
.project-new .blue-gc {
  background-image: linear-gradient(to right, #E2EAF2, #E2EAF2, #E2EAF280, #E2EAF200);
}
.project-new:hover .project-btn {
  opacity: 1;
  margin-bottom: 0;
}
.project-new:hover img {
  transform: scale(1.05);
}
.project-new .company {
  font-weight: 600;
  opacity: 0.3;
}
.project-new .project-name {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
}
.project-new .project-detail {
  opacity: 0.5;
  width: 420px;
  max-width: max-content;
  flex-grow: 1;
}
.project-new .project-btn {
  font-size: 18px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: -10px;
  opacity: 0;
  width: fit-content;
  border-bottom: 1px solid #cccccc;
}
.project-new div {
  z-index: 1;
}

.design-projects {
  height: 780px;
}
.design-projects .project-new {
  margin: 20px;
  width: 650px;
  max-width: 80%;
  height: 300px;
  padding: 60px 6%;
}
.design-projects .project-new .project-name {
  font-size: 20px;
}

.tech-projects {
  height: 680px;
}
.tech-projects .project-new {
  height: 260px;
  margin: 15px;
  min-width: 500px;
  max-width: 80%;
  padding: 60px 4%;
}
.tech-projects .project-new .project-name {
  font-size: 20px;
  margin-top: 10px;
}

.main-project {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 350px;
  padding: 60px 10%;
}

.full-width {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.horizontal-scroll {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  flex-wrap: wrap;
  width: 100%;
  padding-left: max(12.5%, calc((100% - 1000px) / 2));
  padding-top: 50px;
  padding-bottom: 50px;
}
.horizontal-scroll a.project-new:hover div {
  opacity: 0;
}
.landing_text {
  position: fixed;
  top: calc(50vh - 20vw);
  width: 100%;
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-size: 24px;
  color: #aaa;
  animation: 0.5s fadeIn ease-in forwards;
}

.scroll_down::before {
  position: fixed;
  margin-left: -1em;
  left: 50vw;
  bottom: 50px;
  color: #888;
  font-size: 20px;
  opacity: 0;
  content: "╲╱";
  animation: 0.7s fadeIn 0.3s ease-in forwards, bounce 1s ease infinite;
}

.scroll_down.scroll-hidden::before {
  display: none;
}

/*# sourceMappingURL=index.css.map */
