// for homepage
@import "shared";
@import "variables";

html {
  scroll-behavior: auto;
}

//landing page zoom effect
$a_scroll_dist: 20vw;
$scroll_anchor_height: 100px;
#landing {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  &.hidden {
    opacity: 0;
  }
  img {
    width: 100%;
    object-fit: cover;
    //object-position: 0 0;
    outline: 2px solid #fff;
  }
  .white-space {
    flex-grow: 1;
    background-color: white;
    outline: 2px solid #fff;
  }
  .text {
    position: absolute;
    top: 36vw;
    display: flex;
    font-size: 40px;
    align-self: center;
    > div {
      opacity: 0;
      margin: 0 20px;
      animation: .5s fadeIn ease-in forwards;
    }
    .tt1 {
      animation-delay: 0.3s;
    }
    .tt2 {
      animation-delay: .7s;
    }
    .tt3 {
      animation-delay: 1.1s;
    }
  }
}
#landing_anchor {
  position: absolute;
  top: $a_scroll_dist;
  height: $scroll_anchor_height;
}
#landing_move {
  height: calc(40vw + 50px + 100vh);
  width: 100%;
}
#zoom_anchor {
  margin-left: 52.7vw;
  margin-top: 23vw; // 29.3vw is half height of landing
  position: absolute;
  left: 0;
  top: 0;
  //background-color: red;
  //z-index: 1000;
  //width: 10px;
  //height: 10px;
}
.scroll_down::before {
  margin-left: -1em;
  opacity: 0;
  content: '╲╱';
  position: fixed;
  font-size: 20px;
  bottom: 50px;
  animation: .7s fadeIn .8s ease-in forwards, bounce 1s ease infinite;
  z-index: 100;
}
.scroll_down.scroll-hidden::before {
  display: none;
}

// nav and back
#nav_anchor {
  position: absolute;
  margin-top: 15vw;
}
.up-btn {
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: .2;
  &:hover {
    opacity: 1;
  }
}

//actual content
.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &.static {
    position: fixed;
    margin-top: 0;
  }
}
.banner {
  display: flex;
  flex-direction: column;
  height: 35vw;
  align-items: center;
  .slogan {
    position: absolute;
    margin-top: calc(30vw - 260px);
    width: 80%;
    color: white;
    &.hidden {
      p {
        opacity: 0;
      }
    }
    #slogan-header {
      transition-delay: .3s;
      font-size: 34px;
      font-weight: 200;
    }
    #slogan-content {
      line-height: 2em;
      font-size: 18px;
      color: #ffffff99;
      transition-delay: .5s;
    }
    .hl {
      color: #ffffff;
      font-weight: 200;
    }
  }
  .banner-video {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}
.section-title {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
  .switch {
    width: fit-content;
    width: -moz-fit-content;
    font-size: 24px;
    font-weight: 400;
    line-height: 2em;
    text-transform: uppercase;
    .title {
      cursor: pointer;
      margin: 20px;
      opacity: .2;
      &.active {
        opacity: 1;
      }
    }
    .v-line {
      width: 1px;
      border: 1px solid black;
      height: 20px;
      align-self: center;
    }
  }
}
.container {
  margin: 0 10vw 50px;
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 0;
  &.show {
    display: flex;
  }
  &.visible {
    opacity: 1;
  }
  .filterDiv {
    width: 40%;
    max-width: 600px;
    display: none; /* Hidden by default */
    opacity: 0;
    //padding: 40px 30px;
    margin: 50px 50px;
    text-decoration: none;
    color: gray;
    .project-image {
      &:hover {
        //box-shadow: 0 2px 10px #00000011;
        img {
          transition: transform 1s;
          transform: scale(1.2);
        }
      }
      width: 100%;
      overflow: hidden;
    }

    &.show {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.visible {
      opacity: 1;
    }

    .project-image-container {
      position: relative;

      .coming-soon-container {
        position: absolute;
        width: 100%;
        bottom: 20px;

        .coming-soon-label {
          padding: 5px 10px;
          background-color: #ffffffdd;
          color: #666;
          font-size: 14px;
          border-radius: 30px;
          width: fit-content;
          width: -moz-fit-content;
          margin: 0 auto;
        }
      }
    }

    .title {
      display: flex;
      flex-direction: row;
      margin: 10px 0;
      font-size: 14px;
      .tag {
        border: none;
        color: #999;
        padding: 0 15px;
        font-weight: 300;
      }
    }

    .project-title {
      color: #444;
      //flex-grow: 1;
      font-size: 20px;
      font-weight: 300;
      padding-top: 20px;
    }
    .description {
      display: none;
      font-size: 16px;
    }
  }
  #filter {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
    .btn {
      border: none;
      border-radius: 20px;
      color: #444;
      background-color: #F5F7F8;
      cursor: pointer;
      font-weight: 200;
      padding: 6px 16px;
      font-size: 14px;
      margin: 0 4px;
      height: auto;

      &.active {
        background-color: $primary-color;
        color: white;
        pointer-events: none;
      }

      &:not(.active):hover {
        background-color: lighten($primary-color, 28%);
      }
    }
  }
}

// code page
.code-actions {
  margin-top: auto;
  padding-top: 20px;

  a {
    font-style: italic;
    text-decoration: none;
    border-bottom: 1.5px solid $link-color;
    color: $link-color;
    font-weight: 300;
    height: 2em;
    margin: 0 20px;
    line-height: 2.4em;  // put underline closer to text
  }
  .tag {
    border-radius: 20px;
    color: #444;
    background-color: #F5F7F8;
    font-weight: 200;
    padding: 6px 16px;
    font-size: 14px;
    margin: 0 4px;
  }
  .right {
    margin-left: auto;
  }
}
.code {
  .code-image {
    width: 30%;
    flex-shrink: 0;
    margin-right: 20px;

    img {
      width: 100%;
    }

    video {
      width: 100%;
    }
  }

  .code-title {
    font-size: 18px;
    font-weight: 400;
  }

  .collaboration {
    font-size: 14px;
    color: #999;
    margin: 10px 0;
  }
}

@media (max-width: 1023px) {
  .banner {
    height: 45vw;
    .slogan {
      font-size: 18px;
      margin-top: calc(45vw - 200px);
      margin-left: 80px;
      .small {
        font-size: 14px;
      }
    }
  }
  .section-title {
    margin-top: 40px;
    #filter {
      margin: 25px 0;
    }
  }
  .container {
    .filterDiv {
      width: 100%;
    }
  }
  .section-item.code {
    flex-direction: column !important;
    .code-image {
      width: 100%;
      margin: 20px 0;
    }
  }
}

@media (max-width: 767px) {
  #landing {
    display: none;
  }
  .scroll_down {
    display: none;
  }
  #landing_move {
    display: none;
  }
  .banner {
    height: 60vh;
    .banner-video {
      height: 100%;
    }
    .slogan {
      margin-left: 0px;
      align-self: center;
      width: 90%;
      margin-top: 20vw;
      &.hidden {
        opacity: 1;
      }
    }
  }
  #filter {
    margin: 0 !important;
    padding: 20px;
    width: 100%;
    .tag {
      font-size: 12px !important;
      margin: 5px !important;
    }
  }
  .container {
    .tag {
      display: none;
    }
    .filterDiv {
      &:hover {
        box-shadow: 0 2px 10px #00000000;
      }
      width: 100%;
      margin: 40px 0;
      padding: 0;
    }
  }
  .flex-h.code {
    flex-direction: column !important;
    align-items: center;
    padding: 40px 0;
    .code-image {
      width: 90%;
    }
    .code-actions {
      font-size: 12px;
      flex-wrap: wrap;
      justify-content: flex-end;
      > a {
        margin-left: 5px;
        margin-bottom: 5px;
      }
    }
  }

  .up-btn {
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: .2;
    &:hover {
      opacity: 1;
    }
    img {
      width: 100%;
    }
  }
}
