@import "landing.css";
@import "shared.css";

// disable smooth scroll
html {
  scroll-behavior: auto;
}

// content and heading styles
#content {
  padding-top: 50px;
}
.container {
  display: flex;
  width: 75%;
  max-width: 950px;
  flex-wrap: wrap;
  align-self: center;
}
.full-width {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.hp-section-title {
  //size and position
  width: 100%;
  margin-top: 50px;
  padding: 0 20px;
  margin-bottom: 50px;
  //font
  font-size: 20px;
}

// project style & hover behavior
.project-new {

  // shape
  border-radius: 50px;
  overflow: hidden;

  // image position and gradient overlay
  position: relative;
  .image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .grey-gc {
    background-image: linear-gradient(to right, #eee, #eee, #eee8, #eee0);
  }
  .black-gc {
    background-image: linear-gradient(to right, #000, #000, #0008, #0000);
  }
  .chill-white-gc {
    background-image: linear-gradient(to right, #f3f4f5, #f3f4f5, #f3f4f580, #f3f4f500);
  }
  .warm-white-gc {
    background-image: linear-gradient(to right, #F1EDE6, #F1EDE6, #F1EDE680, #F1EDE600);
  }
  .blue-gc {
    background-image: linear-gradient(to right, #E2EAF2, #E2EAF2, #E2EAF280, #E2EAF200);
  }

  //font styles
  color: black;
  background-color: #eeeeee;
  &.dark-image {
    color: white;
    background-color: black;
  }
  .company {
    font-weight: 600;
    opacity: 0.3;
  }
  .project-name {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .project-detail {
    opacity: 0.5;
    max-width: 420px;
  }
  .project-btn {
    margin-top: auto;
    //font
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
    //show on hover
    margin-bottom: -10px;
    opacity: 0;
    // underline
    width: fit-content;
    border-bottom: 1px solid #cccccc;
  }

  // text and gradient are above image
  div {
    z-index: 1;
  }

  // show btn and zoom on hover
  &:hover {
    .project-btn {
      opacity: 1;
      margin-bottom: 0;
    }
    img {
      transform: scale(1.05);
    }
  }

}
$design-project-height: 300px;
$tech-project-height: 260px;
.design-projects {
  height: $design-project-height * 2 + 180; //20 margin + 50 container padding
  .project-new {
    margin: 20px;
    width: 650px;
    max-width: 95%;
    height: $design-project-height;
    padding: 60px 6%;
    .project-name {
      font-size: 20px;
    }
  }
}
.tech-projects {
  height: $tech-project-height * 2 + 160;
  .project-new {
    height: $tech-project-height;
    margin: 15px;
    width: 500px;
    max-width: 95%;
    padding: 60px 4%;

    .project-name {
      font-size: 20px;
      margin-top: 10px;
    }
  }
}
.main-project {
  margin: 50px 0;
  width: 100%;
  height: 350px;
  padding: 60px 10%;
}
.horizontal-scroll {
  // flex scrollable
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  flex-wrap: wrap;
  width: 100%;

  // padding
  padding: 50px max(12.5vw, calc((100vw - 1000px) / 2));
  .rightmost-filler {
    width: max(12.5vw, calc((100vw - 1000px) / 2));
    height: 100px;
    flex-shrink: 0;
  }

  // show img on hover
  a.project-new:hover {
    div {
      opacity: 0;
    }
  }
  div.project-new:hover {
    filter: grayscale(1);
  }
}

@media (max-width: 1000px) {
  .project-new {
    .project-btn {
      margin-bottom: 0;
      opacity: 1;
    }
  }
}

@media (max-width: 500px) {
  .project-new {
    border-radius: 10px;
    .project-detail {
      display: none;
    }
    .project-name {
      font-size: 20px;
      margin-top: 10px;
    }
  }
  .main-project {
    height: 220px;
    margin: 30px 0;
    padding: 30px 10%;
  }
  $design-project-height: 160px;
  $tech-project-height: 150px;
  .design-projects {
    height: $design-project-height * 2 + 180; //20 margin + 50 container padding
    .project-new {
      margin: 10px;
      height: $design-project-height;
      padding: 30px;
    }
  }
  .tech-projects {
    height: $tech-project-height * 2 + 160;
    .project-new {
      height: $tech-project-height;
      margin: 10px;
      padding: 30px;
      .project-name {
        font-size: 18px;
      }
      .project-btn {
        font-size: 16px;
      }
    }
  }
}
