html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Prompt", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  color: gray;
}

#navbar {
  height: 50px;
  padding: 0 50px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color 0.3s;
  font-weight: 400;
  display: flex;
  z-index: 100;
}
#navbar .roundedNav {
  height: 25px;
  border-radius: 30px;
  background-color: #ffffff00;
  align-self: center;
  z-index: -2;
}
#navbar .roundedNav .hide {
  display: none;
}
#navbar #inpageNav {
  margin-left: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
#navbar #inpageNav #highlighter {
  width: 0px;
  background-color: #FD6161;
  position: absolute;
  z-index: -1;
  transition: left 0.2s, width 0.2s;
}
#navbar #inpageNav a {
  text-decoration: none;
  display: flex;
}
#navbar #inpageNav a .icon {
  width: 30px;
  height: 25px;
  background-color: #999;
}
#navbar #inpageNav a .icon:hover {
  background-color: #FD6161;
}
#navbar #inpageNav a .title {
  width: 80px;
  display: none;
  text-align: center;
  padding-top: 3px;
}
#navbar #inpageNav a.active {
  color: white;
}
#navbar #inpageNav a.active .icon {
  background-color: white;
}
#navbar #inpageNav a.active .title {
  display: inline;
}
#navbar .navList {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
#navbar .navList a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  align-self: center;
  padding: 0 10px;
  transition: opacity 0.3s, color 0.3s;
}
#navbar .navList a:hover {
  opacity: 1;
}
#navbar .navList a.active {
  opacity: 1;
}
#navbar .dark a {
  color: grey;
}

.banner {
  width: 100%;
}
.banner img {
  width: 100%;
}

#test {
  height: 2000px;
}

.banner div {
  position: absolute;
  left: 5vw;
  top: 12vw;
  font-size: 35pt;
}
.banner div p {
  line-height: 40%;
}
.banner #banner-text1 {
  color: #FD6161;
}

.btn {
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #F5F7F8;
}

#filter {
  margin: 100px 10vw 0px;
}
#filter .btn {
  cursor: pointer;
  font-family: "Prompt", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  padding: 6px 16px;
  font-size: 12px;
  margin: 0 4px;
}
#filter .btn:hover {
  background-color: #ffeeee;
}
#filter .active {
  background-color: #FD6161;
  color: white;
  pointer-events: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 5vw;
}
.container .filterDiv {
  width: 38%;
  display: none;
  /* Hidden by default */
  padding: 3vw 2vw;
  margin: 5vw 4vw;
  transition: box-shadow 0.3s;
  text-decoration: none;
  color: gray;
}
.container .filterDiv:hover {
  box-shadow: 2px 2px 10px #00000033;
}
.container .filterDiv img {
  width: 100%;
}
.container .filterDiv .title {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}
.container .filterDiv .title .t1 {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 400;
}
.container .filterDiv .title .btn {
  padding: 3px 12px;
  font-size: 12px;
  margin: 0 4px;
}
.container .filterDiv .description {
  font-size: 14px;
}
.container .show {
  display: block;
}

#nav_anchor {
  position: absolute;
  top: 15vw;
}

/*# sourceMappingURL=index.css.map */
