@import "variables";

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.banner {
  position: fixed;
  z-index: -100;
  height: 56vw;
}
.container {
  margin-top: 70vw;
  background-color: white;
}
.title {
  font-size: 22px;
  font-weight: 300;
  padding: 10px 0;
  color: #000;
}
.flex-v {
  display: flex;
  flex-direction: column;
  &.center {
    align-items: center;
  }
}
.flex-h {
  display: flex;
  div {
    flex-grow: 1;
  }
}
.btn {
  line-height: 2.5em;
  padding: 0 1.5em;
  border-radius: 30px;
  background-color: $secondary-color;
  color: white;
  width: fit-content;
  align-self: flex-end;
  font-weight: 300;
  box-shadow: 2px 2px 10px #00000011;
}
.color-bg {
  &.trd {
    background-color: #EDF1F4;
  }
  &.sec {
    background-color: #F0F4FB;
  }
  &.overflow {
    margin: -200px 0;
    padding: 300px 0;
    z-index: 0;
  }
  &.overflow2 {
    margin-bottom: -20vw;
    padding-bottom: 30vw;
    padding-top: 100px;
    z-index: 0;
  }
  &.sum {
    background: linear-gradient(#FD6161, #FF956C);
  }
}
.block {
  position: relative;
  z-index: 1;
}
.card {
  box-shadow: 2px 2px 10px #00000011;
}
.intro-card {
  width: 600px;
  max-width: 90%;
  margin: -12vw 5vw 0;
  position: relative;
  background-color: white;
  padding: 20px 50px;
  color: #404040;
  .card-title {
    font-size: 18px;
    font-weight: 300;
    display: flex;
  }
  .details {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    .item {
      font-weight: 400;
      width: 100px;
      flex-shrink: 0;
    }
  }
}
.section-title {
  display: flex;
  padding: 80px 0;
  .section-line {
    width: 10%;
    border-bottom: 2px solid black;
    position: relative;
    top: -30px;
  }
  .section-index {
    font-size: 40px;
    font-family: "Playfair Display", "Georgia", serif;
    padding: 0 10px;
    position: relative;
    top: -14px;
    color: $primary-color;
  }
  .section-name {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: black;
    text-transform: uppercase;
  }
}
.to-other-projects {
  margin-top: -60px;
  padding: 0px 10vw;
  justify-content: space-between;
  font-weight: 400;
  a {
    color: $primary-color;
    text-decoration: none;
  }
}
.footer {
  height: 50px;
  background-color: #444;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-top: 100px;
}
.section {
  max-width: 1000px;
  margin: 0 5vw 0 13vw;
  padding: 20px 5vw;
  align-self: center;
  line-height: 2rem;
  .small-section {
    padding-bottom: 50px;
  }
  &.sumcard {
    padding-top: 80px;
    color: white;
    font-size: 14px;
    .large-title {
      font-size: 50px;
      line-height: 1.2em;
      font-weight: 400;
      &.first {
        color: #FFD88D;
      }
    }
    .sumcontainer {
      padding: 40px 0;
      align-content: space-between;
      .sumsection {
        width: 22%;
      }
      .line {
        border-right: 1px solid white;
        margin: 20px 0 20px 10px;
        width: 1px;
        padding: 0;
      }
      .icon {
        width: 30px;
        height: 32px;
        background-color: white;
        flex-grow: 0;
      }
    }
  }
  .paragraph {
    padding-bottom: 50px;
  }
  .tag {
    text-transform: uppercase;
    font-size: 16px;
    padding: 24px 0;
    font-weight: 500;
    flex-shrink: 0;
    flex-grow: 0;
    &.narrow {
      width: 16vw;
    }
    &.narrow2 {
      width: 22vw;
    }
  }
  .caption {
    font-size: 12px;
    font-style: italic;
    text-align: center;
  }
  .section-item {
    margin-bottom: 150px;
    .narrow-text {
      width: 600px;
      max-width: 100%;
    }
    .insights {
      margin-top: 50px;
      width: auto;
      max-width: 100%;
    }
    .images {
      flex-shrink: 0;
      width: 30vw;
      align-self: flex-end;
      align-items: center;
      &.inline-img {
        width: 50px;
      }
      img {
        width: 100%;
        object-fit: contain;
      }
      &.left {
        margin: 0 20px 0 0;
      }
      &.right {
        margin: 0 0 0 20px;
      }
      &.narrow {
        img {
          width: 80%;
        }
      }
      &.full {
        width: 100%;
      }
    }
    video {
      width: 40%;
      align-self: flex-end;
      margin: 0 0 0 20px;
      &.left {
        margin: 0 20px 0px 0;
      }
    }
    iframe {
      width: 30vw;
      height: 22vw;
    }
    .large {
      font-size: 40px;
      font-weight: 500;
      color: $secondary-color;
      line-height: 2em;
    }
  }
}
.right-bg {
  z-index: -100;
  width: 32vw;
  height: 40vw;
  //max-width: 400px;
  //max-height: 400px;
  position: absolute;
  right: 0;
  margin-top: 15vw;
  background-image: url(../images/Circle.svg);
  background-size: cover;
}
.highlight {
  color: $primary-color;
  &.sec {
    //color: $secondary-color;
    color: #666;
    //font-weight: 300;
    //font-style: italic;
  }
}
