body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}

.banner {
  position: fixed;
  height: 56vw;
}

.container {
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: calc(56vw + 200px);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container a {
  color: #789CFB;
  border-bottom: 1.5px solid #789CFB;
  height: 2em;
  text-decoration: none;
}

.intro-card {
  align-self: flex-start;
  width: 800px;
  max-width: 100%;
  margin-left: -50px;
  position: relative;
  background-color: white;
  padding: 20px 50px;
  color: #404040;
}
.intro-card .card-title {
  font-size: 18px;
  font-weight: 300;
  display: flex;
}
.intro-card .details {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  margin: 1em 0;
}
.intro-card .details .item {
  font-weight: 400;
  width: 100px;
  flex-shrink: 0;
}

.section-title {
  align-self: flex-start;
  display: flex;
  padding: 30px 0;
  width: 50%;
}
.section-title .section-line {
  width: 10%;
  border-bottom: 2px solid black;
  position: relative;
  top: -30px;
}
.section-title .section-index {
  font-size: 40px;
  font-family: "Playfair Display", "Georgia", serif;
  padding: 0 10px;
  position: relative;
  top: -14px;
  color: #FD6161;
}
.section-title .section-name {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-transform: uppercase;
}

.slideshow-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px 50px;
}

.section.intro {
  position: relative;
  margin-top: -130px;
}
.section.summary-card {
  align-items: flex-start;
  padding-top: 80px;
  padding-bottom: 50px;
  color: white;
  font-size: 16px;
  margin-bottom: 80px;
  line-height: 1.2em;
}
.section.summary-card a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  border: none;
}
.section.summary-card .items > div {
  padding: 6px 0;
}
.section.summary-card .large-title {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2em;
}
.section.summary-card .large-title.first {
  color: #FFD88D;
}
.section.summary-card .summary-container {
  padding: 40px 0;
  justify-content: space-evenly;
  width: 100%;
}
.section.summary-card .summary-container .line {
  border-right: 1px solid white;
  margin: 20px 0 20px 10px;
  width: 1px;
  padding: 0;
}
.section.summary-card .summary-container .icon {
  width: 30px;
  height: 26px;
  background-color: white;
  flex-grow: 0;
}
.section.summary-card .summary-container > div {
  width: 30%;
}
.section.summary-card .contrib-title {
  margin-top: 2vw;
  width: 100%;
}
.section.summary-card .contrib-title .line {
  border-bottom: white 1px solid;
  height: 9px;
  flex-grow: 1;
}
.section.summary-card .contrib-title b {
  margin: 0 10px;
  flex-shrink: 0;
}
.section.summary-card p {
  line-height: 1.8em;
}
.section .summary .title {
  padding-top: 0;
}
.section .insight-title {
  width: 100%;
  text-align: center;
  color: #789CFB;
  font-weight: 400;
}
.section .insight-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: white;
}
.section .insight-cards div {
  width: 400px;
  background-color: #789CFB;
  padding: 10px 10px;
  margin: 15px;
}
.section .insight-cards div p {
  font-size: 12px;
  line-height: 150%;
  margin: 10px 0;
}
.section .insight-cards div .insight-sum {
  font-size: 16px;
  font-weight: 400;
}
.section .narrow-text {
  width: 600px;
  max-width: 100%;
}
.section .insights {
  margin-top: 30px;
  width: 700px;
  max-width: 100%;
  align-self: flex-end;
}
.section iframe {
  width: 100%;
}
.section video {
  width: 100%;
  object-fit: cover;
  margin: 0;
}
.section .slides img {
  outline: 0.5px solid grey;
}
.section .slides .slide {
  display: none;
}
.section .slides .slide.active {
  display: block;
}
.section .slides .demo {
  display: flex;
  padding: 5px 0;
  height: 40px;
}
.section .slides .demo div {
  margin: 0 5px;
  opacity: 0.3;
  cursor: pointer;
}
.section .slides .demo div img {
  height: 100%;
  object-fit: cover;
}
.section .slides .demo div.active {
  opacity: 1;
}
.section .slides.video16-9 video {
  height: 21vw;
}
.section .images {
  flex-shrink: 0;
  width: 50%;
  align-self: flex-start;
  padding-top: 10px;
  align-items: center;
}
.section .images.demo {
  width: fit-content;
  height: 70vh;
  margin-bottom: 40px;
}
.section .images.demo video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  outline: none;
}
.section .images.demo.mobile {
  width: 35%;
}
.section .images.inline-img {
  width: 50px;
}
.section .images.left {
  margin: 0 20px 0 0;
}
.section .images.right {
  margin: 0 0 0 20px;
}
.section .images.narrow img {
  width: 80%;
}
.section .images.full {
  width: 100%;
}
.section .images.even {
  flex-grow: 1;
  flex-shrink: 1;
}
.section .images img, .section .images video {
  max-width: 100%;
  object-fit: contain;
}
.section .images .small {
  max-height: 50vh;
}
.section .caption {
  line-height: 1.5em;
  margin-bottom: 1em;
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
.section .large {
  font-size: 40px;
  font-weight: 500;
  color: #789CFB;
  line-height: 2em;
}
.section .tag {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 0;
  font-weight: 400;
  flex-shrink: 0;
  flex-grow: 0;
}
.section .tag.narrow {
  width: 25%;
}
.section .btn {
  margin: 0 10px;
  line-height: 2.5em;
  padding: 0 1.5em;
  border-radius: 30px;
  background-color: #789CFB;
  color: white;
  width: fit-content;
  align-self: flex-end;
  font-weight: 300;
  box-shadow: 2px 2px 10px #00000011;
  text-decoration: none;
  font-style: normal;
  border: none;
}
.section .btn.light {
  background-color: white;
  color: #789CFB;
  box-shadow: none;
}
.section .title {
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0;
  color: #000;
}
.section .right-link {
  font-weight: 400;
  align-self: flex-end;
}

img {
  width: 100%;
  object-fit: cover;
}

.space-below {
  padding-bottom: 50px;
}

.space-above {
  padding-top: 50px;
}

.background {
  position: relative;
  z-index: -1;
}
.background.right {
  align-self: flex-end;
}

.to-other-projects {
  width: 100%;
  padding: 50px 10vw 30px;
  justify-content: space-between;
  font-weight: 400;
}
.to-other-projects a {
  text-decoration: none;
}

.slideshow-button {
  cursor: pointer;
  width: 20px;
  max-width: 4vw;
  position: absolute;
  top: 50%;
}
.slideshow-button.left {
  left: 0;
}
.slideshow-button.right {
  right: 0;
}

.slideshow-item {
  display: none;
}
.slideshow-item.active {
  display: flex;
  justify-content: stretch;
}

.dots-wrapper > div {
  display: flex;
  flex-direction: column;
}

.slideshow-dots {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 4px 8px;
  border: 1px solid #1A73E8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slideshow-dots.small {
  width: 7px;
  height: 7px;
}
.slideshow-dots.active {
  background-color: #1A73E8;
}

.label {
  text-transform: uppercase;
  font-weight: 600;
}

/*# sourceMappingURL=project.css.map */
