html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8;
}
html *, html *:before, html *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html * {
  transition: all 0.3s;
}
html a {
  text-decoration: none;
  color: inherit;
}
html img, html video {
  width: 100%;
  outline: none;
}
html video {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100vw;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 50px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.navbar.dark-bg {
  color: white;
}
.navbar .navList {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.navbar .navList .pg-btn {
  padding: 0 20px;
  opacity: 0.3;
}
.navbar .navList .pg-btn:hover, .navbar .navList .pg-btn.active {
  opacity: 1;
}
.navbar #back span {
  padding: 100px 30px 30px 30px;
}
.navbar.active {
  background-color: #ffffff;
  color: black;
}
.navbar.active.dark-content {
  background-color: #4440;
  color: white;
}

.container {
  width: 66%;
  max-width: 950px;
  align-self: center;
}

.card {
  box-shadow: 2px 2px 10px #00000011;
}

.full-width {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.space-above {
  margin-top: 50px !important;
}
.space-above.small {
  margin-top: 20px !important;
}

.button {
  color: white;
  background-color: black;
  font-size: 18px;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight-content {
  background-image: linear-gradient(#EE5B5B18, #EE5B5B18);
  background-size: 0%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition: 0.8s;
}
.highlight-content.dark-bg {
  background-image: linear-gradient(#556FB2, #556FB2);
}
.highlight-content.blue {
  background-image: linear-gradient(#789CFB22, #789CFB22);
}

.footer {
  font-size: 14px;
  height: 50px;
  color: #ccc;
  text-align: center;
  padding-top: 10px;
  margin-top: 80px;
  width: 100%;
}
.footer::before {
  content: "Designed & Developed by Qian Wang";
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group > div {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.group > div.left {
  margin-left: 0;
}
.group > div.right {
  margin-right: 0;
}
.group .sm {
  width: 30%;
}
.group .lg {
  width: 60%;
}

#image-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
}
#image-modal img {
  object-fit: contain;
  width: fit-content;
  max-height: 90%;
  max-width: 90%;
  z-index: 2;
}
#image-modal #close {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000dd;
  color: white;
}
#image-modal #close:hover {
  cursor: pointer;
}
#image-modal #close i {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
#image-modal.white img {
  background-color: white;
}
#image-modal.white #close {
  color: black;
  background-color: white;
}

@media (max-width: 1000px) {
  .container {
    width: 80%;
  }

  .group.pp {
    flex-direction: column;
  }
  .group.pp > div {
    margin-left: 0;
    margin-right: 0;
  }
  .group.pp > div.left {
    margin-bottom: -30px;
  }
}
@media (max-width: 766px) {
  .group {
    flex-direction: column;
  }
  .group > div {
    margin-left: 0;
    margin-right: 0;
  }
  .group > div.left {
    margin-bottom: -30px;
  }
}
.banner {
  width: 100%;
  background-color: white;
}
.banner > img {
  width: 100%;
  height: 48vw;
  min-height: 500px;
  object-fit: cover;
}
.banner.dark-bg {
  background-color: black;
}
.banner.dark-bg .project-content .project-name {
  color: white;
}
.banner.dark-bg .project-content .project-detail {
  color: #ddd;
}
.banner .project-content {
  position: absolute;
  top: max(15vw, 150px);
  left: 10vw;
}
.banner .project-content .project-name {
  font-size: 42px;
  font-weight: 700;
  color: black;
}
.banner .project-content .project-detail {
  font-size: 24px;
  font-weight: 400;
  color: #666;
}

.intro-card {
  font-size: 17px;
  color: #444;
  position: relative;
  align-self: flex-start;
  margin-left: 10vw;
  margin-top: -150px;
  margin-bottom: 100px;
  width: 800px;
  max-width: 80%;
  background-color: white;
  padding: 20px 50px;
}
.intro-card a {
  color: #216EBE;
  text-decoration: underline;
}
.intro-card .details {
  display: flex;
  margin: 24px 0;
}
.intro-card .details .item {
  font-weight: 400;
  width: 120px;
  flex-shrink: 0;
}

.section-title {
  align-self: flex-start;
  display: flex;
  width: 100%;
  margin: 150px 0 50px 0;
  position: relative;
  left: -5%;
}
.section-title .line {
  left: -100%;
  width: 100%;
  border-top: 1px solid black;
  position: absolute;
  top: 24px;
}
.section-title .section-index {
  font-size: 40px;
  font-family: "Playfair Display", "Georgia", serif;
  font-weight: 700;
  color: #EE5B5B;
  padding: 0 15px;
  position: relative;
  top: -14px;
}
.section-title .section-name {
  font-size: 30px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}

.part-title {
  align-self: flex-start;
  display: flex;
  color: #EE5B5B;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 60px 0 20px 0;
}
.part-title .title {
  flex-shrink: 0;
}
.part-title .line {
  width: 100%;
  margin-left: 40px;
  border-top: 0.5px solid #EE5B5B;
  position: relative;
  top: 16px;
  opacity: 0.5;
}

.demo-mobile {
  width: 30% !important;
  min-width: 250px;
  flex-shrink: 0;
}
.demo-mobile img, .demo-mobile video {
  border-radius: 20px;
}

.block {
  width: 100%;
  margin: 40px 0;
}
.block .title {
  font-size: 23px;
  font-weight: 400;
}
.block .detail {
  margin: 20px 0;
  color: #666;
}
.block .pic-subtitle {
  text-align: center;
  color: #888;
  font-size: 16px;
  margin-top: -3px;
}
.block.decision {
  background-color: #789CFB22;
  padding: 50px;
}
.block.decision .title {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 20px;
}
.block.decision .title span {
  color: #EE5B5B;
}
.block.decision .content {
  padding-bottom: 20px;
}

.summary-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 100px 15%;
  margin: 50px 0;
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.summary-card .title {
  color: #EE5B5B;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.summary-card.design-principle {
  padding: 100px 10%;
}
.summary-card.design-principle .details {
  align-self: stretch;
  text-align: left;
  font-size: 18px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
}
.summary-card.design-principle .details .item {
  width: 50px;
  flex-shrink: 0;
  font-size: 26px;
  margin-top: -5px;
}

.menu {
  position: fixed;
  left: 0;
  top: 32vh;
}
.menu:hover .menu-item .content {
  opacity: 1;
}
.menu.invisible {
  display: none;
}
.menu .menu-item {
  display: flex;
  opacity: 0.3;
}
.menu .menu-item .line {
  border-top: 1px solid #666;
  position: relative;
  top: 22px;
  width: 25px;
  height: 2px;
  margin-right: 15px;
}
.menu .menu-item .content {
  font-size: 16px;
  line-height: 280%;
  opacity: 0;
}
.menu .menu-item.active {
  opacity: 1;
  color: #EE5B5B;
}
.menu .menu-item.active .line {
  border-color: #EE5B5B;
}
.menu .menu-item:hover .line {
  width: 30px;
}

@media (max-width: 766px) {
  .intro-card .details {
    flex-direction: column;
  }

  .menu {
    display: none;
  }

  .block.decision {
    padding: 25px;
  }

  .banner img {
    opacity: 0.3;
  }
  .banner .project-content {
    top: max(15vw, 150px) !important;
    left: 10vw !important;
    max-width: 80% !important;
  }
}

/*# sourceMappingURL=project.css.map */
