@import "shared";

$page-padding: 10vw;

.tab-section {

  display: flex;
  gap: 32px;

  .tabs {
    display: flex;
    flex-direction: column;

    .tab-title {
      text-transform: uppercase;
      color: grey;
      //margin-top: 24px;
      font-size: 16px;
    }

    .tab {
      padding: 6px 0;
      cursor: pointer;
      border-bottom: none;
      margin-right: 4px;
      font-weight: 400;
      &.l1 {
        padding-left: 24px;
        font-size: 16px;
        font-weight: 300;
        opacity: 0.8;
      }
      &.active {
        font-weight: 900;
        color: aqua;
        opacity: 1;
      }
    }
  }

  .tab-content {
    display: none;
    &.active {
      display: block;
      align-self: center;
      flex: 1;
    }
    text-align: center;
    p {
      font-size: 16px;
      opacity: 0.8;
      margin-bottom: 8px;
    }
  }

}

.banner {
  width: 100%;
  background-color: #f6f6f6;
  padding: 120px $page-padding 240px $page-padding;

  .project-content {
    display: flex;
    flex-direction: column;
    top: max(15vw, 150px);
    left: 10vw;
    gap: 50px;

    .project-name {
      font-size: 50px;
      font-weight: 900;
      color: black;
    }

    .project-detail {
      font-size: 22px;
      font-weight: 300;
      color: black;
    }

    .highlight {
      background-color: gold;
      padding: 0 4px;
    }

  }

  > img {
    width: 100%;
    height: 48vw;
    min-height: 500px;
    object-fit: cover;
  }

  &.dark-bg {
    background-color: black;

    .project-content {
      .project-name {
        color: white;
      }

      .project-detail {
        color: white;
      }
    }
  }

}

.intro-card {
  position: relative;
  align-self: flex-start;
  margin: -100px 0 100px 10vw;
  max-width: 80%;
  padding: 20px 50px;
  display: flex;
  gap: 50px;

  background-color: white;
  font-size: 16px;

  .details {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin: 24px 0;
    flex-shrink: 1;
    .item {
      font-weight: 700;
    }
  }

}

.section-title {
  align-self: flex-start;
  display: flex;
  width: 100%;
  margin: 150px 0 50px 0;
  position: relative;
  left: -5%;

  .line {
    left: -100%;
    width: 100%;
    border-top: 1px solid black;
    position: absolute;
    top: 24px;
  }

  .section-index {
    font-size: 40px;
    font-family: "Playfair Display", "Georgia", serif;
    font-weight: 700;
    color: $primary-color;
    padding: 0 15px;
    position: relative;
    top: -14px;
  }

  .section-name {
    font-size: 30px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
  }
}

.large-title {
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.part-title {
  align-self: flex-start;
  display: flex;
  color: $primary-color;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 60px 0 20px 0;

  .line {
    width: 100%;
    margin-left: 40px;
    border-top: 0.5px solid $primary-color;
    position: relative;
    top: 16px;
    opacity: 0.5;
  }
}

.demo-mobile {
  width: 30% !important;
  min-width: 250px;
  flex-shrink: 0;

  img, video {
    border-radius: 20px;
  }
}

.block {
  width: 100%;
  margin: 40px 0;

  .title {
    font-size: 22px;
    font-weight: 700;
  }

  .detail {
    margin: 20px 0;
    color: #666;
  }

  .pic-subtitle {
    text-align: center;
    color: #888;
    font-size: 16px;
    margin-top: -3px;
  }

  &.decision {
    background-color: $secondary-color-light;
    padding: 50px;

    .title {
      font-weight: 700;
      font-size: 18px;
      padding-bottom: 20px;

      span {
        color: $primary-color;
      }
    }

    .content {
      padding-bottom: 20px;
    }
  }
}

.summary-card {
  // position
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  // sizing
  padding: 100px 15%;
  margin: 50px 0;
  background-color: black;
  // text
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-align: center;

  .title {
    color: $primary-color;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
  }

  &.design-principle {
    padding: 100px 10%;

    .details {
      // left align
      align-self: stretch;
      text-align: left;
      font-size: 18px;
      margin: 5px 0;
      // two parts
      display: flex;
      flex-direction: row;

      .item {
        width: 50px;
        flex-shrink: 0;
        font-size: 26px;
        margin-top: -5px;
      }
    }
  }
}

.menu {
  position: fixed;
  left: 0;
  top: 32vh;

  &:hover {
    .menu-item {
      .content {
        opacity: 1;
      }
    }
  }

  &.invisible {
    display: none;
  }

  .menu-item {
    display: flex;
    opacity: .3;
    font-size: 16px;
    height: 50px;
    margin-left: 40px;

    .line {
      &::before {content: '•'};
      width: 35px;
      margin-right: 10px;
      text-align: right;
      font-weight: 700;
      position: relative;
    }

    .content {
      opacity: 0;
    }

    &.active {
      opacity: 1;
      color: $primary-color;

      .line {
        border-color: $primary-color;
      }
    }

    &:hover {
      .line {
        width: 40px;
      }
    }
  }
}

@media (max-width: 766px) {
  .intro-card {
    .details {
      flex-direction: column;
    }
  }
  .menu {
    display: none;
  }
  .block.decision {
    padding: 25px;
  }
  .banner {
    img {
      opacity: .3;
    }

    .project-content {
      top: max(15vw, 150px) !important;
      left: 10vw !important;
      max-width: 80% !important;
    }
  }
}
