// for all pages
@import "variables";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Prompt', 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
  color: $text;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  visibility: hidden;
  height: 26px;
  background-color: #00000066;
  color: #fff;
  text-align: center;
  top: 40px;
  padding: 5px 10px;
  border-radius: 13px;
  position: absolute;
  z-index: 1;
  font-weight: 200;
  font-size: 12px;
}

.navbar {
  a {
    text-decoration: none;
    font-style: normal;
  }
  height: 50px;
  padding: 0 50px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color .3s, box-shadow .3s;
  font-weight: 400;
  display: flex;
  z-index: 100;
  &.active {
    background-color: #ffffffee;
    box-shadow: 0px 0px 5px #00000022;
    .pg-btn {
      color: grey;
    }
    #inpageNav {
      display: flex;
    }
  }
  .roundedNav {
    height: 25px;
    border-radius: 30px;
    background-color: #ffffff00;
    align-self: center;
    z-index: -2;
    .hide {
      display: none;
    }
  }
  #inpageNav {
    display: none;
    margin-left: 45px;
    align-items: center;
    font-size: 12px;
    #highlighter {
      width: 0px;
      background-color: $primary-color;
      position: absolute;
      z-index: -1;
      transition: left 0.2s, width 0.2s;
    }
    a {
      color: white;
      display: flex;
      &:hover {
        .tooltip {
          visibility: visible;
        }
        .icon {
          background-color: $primary-color;
        }
      }
      .icon{
        margin-left: 20px;
        width: 25px;
        height: 25px;
        background-color: #bbb;
      }
      .nav-section{
        width: 100px;
        display: none;
        padding-top: 3px;
        text-align: center;
      }
    }
    a.active {
      .icon {
        background-color: white;
      }
      .nav-section {
        display: inline;
      }
    }
  }
  .navList {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    &.dark {
      a {
        color: #444;
      }
    }
    a {
      color: white;
      opacity: 0.5;
      align-self: center;
      padding: 0 10px;
      transition: opacity 0.3s, color 0.3s;
      &:hover {
        opacity: 1;
      }
    }
    a.active {
      opacity: 1;
    }
  }
  .dark {
    a {
      color: grey;
    }
  }
}

.banner {
  width: 100%;
  img {
    width: 100%;
  }
}

.footer {
  height: 50px;
  background-color: #444;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-top: 100px;
  width: 100%;
}

.flex-v {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  &.center {
    align-items: center;
  }
}
.flex-h {
  display: flex;
}
.card {
  box-shadow: 2px 2px 10px #00000011;
}
.color-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  &.card {
    z-index: 2;
  }
  &.trd {
    background-color: #EDF1F4;
  }
  &.sec {
    background-color: #F0F4FB;
  }
  &.padding {
    padding-top: 100px;
    margin-bottom: 100px;
  }
  &.overflow {
    margin: -200px 0;
    padding: 300px 0;
    z-index: 0;
  }
  &.overflow-bottom {
    margin-bottom: -200px;
    padding-bottom: 300px;
    padding-top: 100px;
    z-index: 0;
  }
  &.color-summary {
    background: linear-gradient(#FD6161, #FF956C);
  }
}
.highlight {
  color: $primary-color !important;
  &.sec {
    color: $secondary-color !important;
  }
}

.section {
  max-width: 1400px;
  margin: 0 13vw;
  padding: 20px 5vw;
  line-height: 2rem;
}

.section-item {
  padding-top: 80px;
  padding-bottom: 80px;
}
