@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8;
}
html *, html *:before, html *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html * {
  transition: all 0.3s;
}
html a {
  text-decoration: none;
  color: inherit;
}
html img, html video {
  width: 100%;
  outline: none;
}
html video {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100vw;
}

.navbar {
  position: fixed;
  height: 50px;
  width: 100%;
  padding: 0 50px;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
}
.navbar .navList {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  gap: 32px;
}
.navbar .navList .pg-btn {
  opacity: 0.5;
}
.navbar .navList .pg-btn:hover, .navbar .navList .pg-btn.active {
  opacity: 1;
}
.navbar.project-navbar {
  width: 44px;
  height: 44px;
  left: 0px;
  margin: 16px;
  padding: 0 0 0 4px;
  border-radius: 50px;
  justify-content: center;
  background-color: #f6f6f6;
  color: black;
}
.navbar.project-navbar div {
  font-size: 16px;
}

.container {
  padding: 100px 12vw;
  width: 100%;
}

.card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.0666666667);
}

.full-width {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.space-above {
  margin-top: 50px !important;
}
.space-above.small {
  margin-top: 20px !important;
}

.button {
  color: white;
  background-color: black;
  font-size: 18px;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.highlight-content {
  background-image: linear-gradient(rgba(238, 91, 91, 0.0941176471), rgba(238, 91, 91, 0.0941176471));
  background-size: 0;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: 0.8s;
}
.highlight-content.dark-bg {
  background-image: linear-gradient(#556FB2, #556FB2);
}
.highlight-content.blue {
  background-image: linear-gradient(rgba(120, 156, 251, 0.1333333333), rgba(120, 156, 251, 0.1333333333));
}

.footer {
  font-size: 16px;
  margin: 80px;
}
.footer::before {
  content: "Designed & Developed by Mia Wang 😉";
}

.external-video-container {
  padding: 56.25% 0 0 0;
  position: relative;
}
.external-video-container iframe.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

ol {
  padding-left: 20px;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
}
.group div {
  flex: 1;
}
.group .sm {
  width: 30%;
}
.group .lg {
  width: 60%;
}

#image-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: white;
}
#image-modal.dark {
  background-color: rgba(0, 0, 0, 0.8);
}
#image-modal.dark #modal-close {
  color: white;
}
#image-modal img, #image-modal video {
  object-fit: contain;
  width: fit-content;
  max-height: 80%;
  max-width: 80%;
  z-index: 2;
  background-color: white;
}
#image-modal #modal-close {
  position: fixed;
  width: 100%;
  height: 100%;
  color: black;
}
#image-modal #modal-close:hover {
  cursor: pointer;
}
#image-modal #modal-close i {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
#image-modal.black #close {
  background-color: rgba(0, 0, 0, 0.8666666667);
  color: white;
}

@media (max-width: 1000px) {
  .container {
    width: 80%;
  }
  .group.pp {
    flex-direction: column;
  }
  .group.pp > div {
    margin-left: 0;
    margin-right: 0;
  }
  .group.pp > div.left {
    margin-bottom: -30px;
  }
}
@media (max-width: 766px) {
  .group {
    flex-direction: column;
  }
  .group > div {
    margin-left: 0;
    margin-right: 0;
  }
  .group > div.left {
    margin-bottom: -30px;
  }
}

/*# sourceMappingURL=shared.css.map */
