.technical-project.container {
  margin-top: 100px;

  .title {
    font-size: 38px;
    font-weight: 400;
    margin-top: 50px;
  }

  .subtitle {
    font-size: 24px;
  }

  .content {
    margin: 50px 0;
    color: #666;
  }

  .collaborators {
    font-weight: 400;
    font-size: 16px;
    color: #666;
  }

  .video-container {
    max-width: 600px;

    &.bordered {
      border: 1px #ccc solid;
    }
  }

  .hspace {
    margin-left: 50px;
  }

  .references {
    color: cornflowerblue;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
  }
}
