$primary-color: #FD6161;
$secondary-color: #789CFB;
$link-color: $secondary-color;
$link-bg-color: #E0EBFF;
$link-bg-color2: #D8E6FF;
$light-bg-color: #F0F4FB;
$text: #666;
$brandeis-color: #1A73E8;
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes bounce {
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
